{% extends 'layout.html' %}
{% block title %}
  Home Page
{% endblock %}
{% block content %}
<form method="get|post">
    <div class="sortby"><p>{{ form.sort_type.label(id="sort_typecss") }} {{ form.sort_type }}</p></div>
</form>
      <table class="gallery_item">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Description</th>
                <th scope="col">Eco-impact</th>
                <th scope="col">View</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td class="item_name">{{ item.name }}</td>
                    <td class="item_price">£{{ item.price }}</td>
                    <td class="item_description">{{ item.description }}</td>
                    <td>{{ item.eco }} Co2</td>
                    <td><img src="{{ url_for('static', filename='img/' + item.imagefile)}}" class ="table-img" ></td>
                    <td>
                      <form action="{{ url_for('moreinfo', item_id=item.id) }}">
                          <input class="details" type="submit" value="More Info &#10145;" >
                      </form>
                      <form action="{{ url_for('add_to_cart', item_id=item.id) }}">
                          <input class="add_to_cart" type="submit" value="add to cart &#10145;" >
                      </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
